@model Assign1._1.Models.Booking

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Booking_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Booking_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NofCustomer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NofCustomer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
